$color_TI: #3b95d0;
$color_TI_darker: #205d85;

/* TOP DESCRIPTION BOX */
.top-box-landing {
    background-size: cover !important;
    background-position: left top;
    background: $color_TI;
    background: linear-gradient(45deg,#0476c7,$color_TI);
    background: linear-gradient(45deg,#0476c7,$color_TI);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0476c7",endColorstr="#3b95d0",GradientType=1);
    .top-description-content {
      //background: darken($color_TI, 10%);
      background: none;
      max-width:1600px;
      margin:0 auto;
      color: #fff;
      text-align: left;
      padding: 50px 70px 50px 30px;
      position: relative;
      h1 {
        font-size: 50px;
        margin-bottom: 10px;
        font-family: Oswald;
        font-weight: 600;
        //letter-spacing: 1px;
        .h1-smaller {
          font-size: 35px;
        }
      }
      h2 {
        font-size: 23px;
      }
      p {
        font-size: 20px;
      }
      .top-description-text {
        max-width: 1000px;
      }
      .close-btn {
        position: absolute;
        top: 20px;
        right: 30px;
        cursor: pointer;
        @media only screen and (min-width: 1600px) {
          display: none;
        }
      }
      .read-more-btn {
        border-radius: 0px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 14px;
        margin-right: 7px;
        padding: 10px 20px 10px 25px;
        font-size: 18px;
        font-weight: 600;
        border: 2px solid #fff;
        text-decoration: none;
        transition: .4s all;
        cursor: pointer;
        color: #fff;
        background: none;
        &:hover {
            background: rgba(255,255,255,1);
            color: darken($color_TI, 30%);
        }
        i {
            vertical-align: middle;
            font-size: 22px;
            margin-left: 10px;
            position: relative;
            top: -1px;
        }
      }
    }
}

/* CONTENT BOXES */
.container {
    padding: 30px 0;
    padding-bottom: 50px;
}
.panel-group {
    .panel {
        background: #fff;
        border-radius: 2px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
        .panel-heading {
        background: #fafafa;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 10px 30px;
        text-align: left;
        .panel-title {
            font-size: 22px;
            margin-bottom: 0;
            font-weight: 600;
            color: $color_TI_darker;
        } 
        a {
            display: block;
            width: 100%;
            text-align: left;
            padding: 15px 30px;
            font-size: 20px;
            text-align: left;
            color: $color_TI_darker;
            text-decoration: none;
        }
        }
        .panel-collapse {
        .panel-body {
            text-align: left;
            padding: 35px 30px 40px 30px;
            a {
            color: #3d95d1;
            font-weight: bold;
            img.logo {
                margin: 10px;
                width: 120px;
            }
            }
            p:last-child {
            margin-bottom: 0;
            }
            h3 {
            font-size: 18px;
            margin-top: 25px;
            font-weight: 600;
            &.mt-0 {
                margin-top: 0;
            }
            }
            h4 {
            font-size: 16px;
            font-weight: 600;
            margin-top: 20px;
            }
        }
        }
    }
}
.landing-section-buttons-container {
    //text-align: center;
}
.landing-sections-button {
    display: inline-block;
    background: $color_TI;
    color: #fff !important;
    padding: 10px 15px 10px 20px;
    position: relative;
    top: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .4s all;
    font-size: 18px;
    //max-width: 90%;
    //width: 300px;
    &:hover, &.active {
        color: #fff !important;
        background: $color_TI_darker;
        text-decoration: none;
    }
    i {
        vertical-align: middle;
        font-size: 22px;
        margin-left: 10px;
        position: relative;
        top: -1px;
    }
}

.landing-video {
  aspect-ratio: 16 / 9;
  width: 100%;
  margin-top: 20px;
  @supports not (aspect-ratio: 1) {
    width: 100%;
    height: 550px;
  }
}



